<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login2.css">
    <title>Login</title>
</head>

<body>

    <div class="container">
        <div class="card">
            <center>
                <a class="login">Inicia sesión</a>
            </center>
            <div class="inputBox">
                <input type="text" required="required">
                <span id="usuarioLogin">Usuario</span>
            </div>
            <div class="inputBox">
                <input type="password" id="passwordField" required="required" autocomplete="new-password">
                <span id="contraseñaLogin">Contraseña</span>
                <br><br />
                <a href="/registro">¿No tienes una cuenta? Crea una!</a>
            </div>
            <div>
                <button class="back">Regresar</button>
                <button class="enter" >Entrar</button>
            </div>
        </div>
    </div>
    <div class="triangulo-grande"></div>
    <div class="triangulo-pequeno"></div>
</body>

</html>