<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="card">
            <a class="login">Inicio de Sesión</a>
            <div class="inputBox">
                <input type="text" required="required">
                <span class="user">Usuario</span>
            </div>
    
            <div class="inputBox">
                <input type="password" required="required">
                <span>Contraseña</span>
            </div>
            <a href=""> <span>¿No tienes una cuenta? Registrate</span></a>
    
            <button class="enter">Ingresar</button>
    
        </div>
    </div>

    <div class="triangulo-grande"></div>
    <div class="triangulo-pequeno"></div>
    
</body>
</html>