<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/nav.css">
    <title>Document</title>
</head>
<body>

    <nav class="navbar">
        <div class=" left-section">
            <img class="logo" src="../../public/img/logo.png" alt=""> 
            <p class="tittl">AJOLOTICS</p>
        </div>

        <div class="right-section">
            <a href="/index">Inicio</a>
            <a href="/cursos">Cursos</a>
            <!-- <a href="/productos">Categorias</a> -->
            <div class="dropdown">
                <a class="dropbtn">Categorias</a>
                <div class="dropdown-content">
                    <a href="#">Categoria 1</a>
                    <a href="#">Categoria 2</a>
                    <a href="#">Categoria 3</a>
                    <a href="#">Categoria 4</a>
                </div>
            </div>
            <a href="/login2">Login</a>
        </div>
    </nav>

    
</body>
</html>